/*form*/

* {
   
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #f4f4f4;
}

.form-container{
position: relative;
left: 20%;
width: 60%;
height: 100vh;
background: #ffffff;
}

.contact-form{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 600px;
}
input,
textarea{
width: 100%;
margin-top: 2rem;
border: none;
border-bottom: 1px solid black;
}
.submit{

    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}
.submit:hover{
opacity: 0.6;
}
span{
    font-size:10px
}

/*body*/

.body-container{
    margin-top: 200px;
}
.header-container{
    display: flex;
    flex-direction: row;
    background-color:white;
}
.header{
    flex-grow: 1;
    margin: 20px;
    
}

h1{
    text-align: center;
    margin-bottom: 26px;
}

.list{
    background-color:white;
    flex-grow: 2;
    text-align: center;
}

li a{
text-decoration: none;
margin: 0;
padding: 0;
background-color: white;
font-size: 20px;
color: black
}

li{
    display: inline;
    margin: 20px 20px;
}

ul{
    list-style-type: none;
    text-align: center; 
    padding-top: 30px;
}

.img{
    height: 600px;
    width: 100%;
    background-image:url(/css/img/shutterstock_1937598580.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.rated{
    color: #00BFFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.top{
    font-size: 25px;
    text-align: center;
}

/*father icon container*/
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 40px;
    margin: 100px;
}


/* emoji icons */
.fa-hand-holding-dollar{
    font-size: 50px;
    text-align: center;
}
.fa-calendar-check{
    font-size: 50px;
}
.fa-leaf{
    font-size: 50px;
}

/*container for the ad*/

.money-container{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.money-container h3{
    margin-bottom: 30px;
}
.calender-container{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.calender-container h3{
    margin-bottom: 30px;
}
.Eco-container{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Eco-container h3{
    margin-bottom: 30px;
}


h3{
    text-align: center;
    color: #00BFFF;
}


/* services */

.service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

h2{
    text-align: center;
    margin: 50px;
}


.driveway-garage:hover .overlay{
    opacity: 1;

}
.Housesiding-wash:hover .overlay{
    opacity: 1;

}
.trash-can:hover  .overlay{
    opacity: 1;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  #00BFFF;
    border-radius: 5%;
    overflow:  scroll;
  }
  .driveway-garage .text {
    color: black;
    font-size: 20px;
    margin: 20px 50px 0px 50px;
   /*
    padding-top: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    */
  }

  .driveway-garage{
    height: 400px;
    width: 400px;
    background-image: url(img/power-washing.jpeg); 
    background-size: cover;
    border-radius: 5%;
    position: relative;
}

.Housesiding-wash{
    height: 400px;
    width: 400px;
    background-image: url(img/shutterstock_2020551485.jpg);  
    background-size: cover;
    border-radius: 5%;
    position: relative;
}

.Housesiding-wash .text{
    position: absolute;
    font-size: 20px;
    margin: 20px 50px 0px 50px;
    color: black;
}


.trash-can{
    height: 400px;
    width: 400px;
    background-image: url(img/shutterstock_1257169153.jpg); 
    background-size: cover; 
    border-radius: 5%;
    position: relative;
}

.trash-can .text{
    position: absolute;
    font-size: 20px;
    margin: 20px 50px 0px 50px;
    color: black;
}

/*contact form
.form-container{
    position: relative;
}

.form-div{
    position: absolute;
    left: 40%;
    top: 200px;
    background-color: aliceblue;
    font-family: sans-serif;
    border-radius: 5%;

}

input{
    margin: 5px;
    
}*/

textarea{
    margin-top:20px;
    overflow: auto;
    
}
